@media (max-width: 510px) {
  .menu_inner .top .content_top .inner {
    padding: 60px 20px;
    margin: 0;
  }
  .menu_inner .content_inner .menu_wrapper {
    display: flex;
    flex-direction: column;

    align-items: start;
    padding: 20px 0;
    gap: 20px;
  }
  // counter start
  .counter_area .service_tow .title_main {
    font-size: 46px;
    text-align: center;
  }
  // counter End
}

@media (max-width: 768px) {
  // nav start
  nav {
    .menu {
      display: none;
    }
  }
  .header_right {
    .query_list {
      display: none;
    }
  }
  .main_menu {
    padding: 0 20px;
  }

  .droupdown .nav_link {
    padding: 5px 5px;
  }

  .side_bar {
    max-width: 240px;

    padding: 50px 41px 0 2px;
  }
  // nav End
  // banner Start
  .banner_img_1 {
    max-width: 200px;
    z-index: 10;
    img {
      width: 100%;
    }
  }
  .banner_img_3 {
    max-width: 150px;
    img {
      width: 100%;
    }
  }
  .banner_img_2 {
    z-index: 1;
  }
  .banner_img_4 {
    max-width: 100px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .discount_tag {
    left: 0;
    scale: 0.8;
  }

  //   menu Start

  .discount_menu {
    padding: 60px 0;
  }
  .bottom {
    .inner {
      width: 100%;
      padding: 0 20px;

      margin: 0;
    }
    .content_bottom {
      padding: 60px 0;
    }
  }
  // menu End
  // testimonial start
  .testimonial-wrapper {
    padding: 20px;
  }
  // footer
  footer .footer_wrapper {
    padding: 120px 0;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;
    justify-items: center;
    ul {
      padding: 0;
    }
    .footer_gallery {
      justify-content: center;
    }
    .footer_logo_area {
      text-align: center;
    }
    .get_touch {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .social_wrapper ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  // footer
  footer .footer_wrapper {
    padding: 80px 0;
}
}

//

@media (min-width: 768px) and (max-width: 992px) {
  // nav start
  .menu {
    display: none;
  }
  // nav End

  // counter
  .counter_area .counter_inner {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  // footer
  footer .footer_wrapper {
    padding: 120px 0;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  // menu start
  .menu_wrapper {
    .p-title {
      font-size: 19px;
    }
  }
}

@media (max-width: 1200px) {
  // nav start
  .droupdown {
    .nav_link {
      padding: 5px 0px;
    }
  }
  // nav End
}
