@media (max-width: 768px) {
  // nav start
  nav {
    .menu {
      display: none;
    }
  }
  .header_right {
    .query_list {
      display: none;
    }
  }
  .main_menu {
    padding: 0 20px;
  }

  .droupdown .nav_link {
    padding: 5px 5px;
  }

  .side_bar {
    max-width: 240px;

    padding: 50px 41px 0 2px;
  }
  // nav End
  // banner Start
  .banner_img_1 {
    max-width: 200px;
    z-index: 10;
    img {
      width: 100%;
    }
  }
  .banner_img_3 {
    max-width: 150px;
    img {
      width: 100%;
    }
  }
  .banner_img_2 {
    z-index: 1;
  }
  .banner_img_4 {
    max-width: 100px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .discount_tag {
    left: 0;
    scale: 0.8;
  }
}

@media (max-width: 992px) {
  // nav start
  .menu {
    display: none;
  }
  // nav End
}

@media (max-width: 1200px) {
  // nav start
  .droupdown {
    .nav_link {
      padding: 5px 0px;
    }
  }
  // nav End
}
