.testimonial {
  padding: 120px 0;
}
.testimonial_detils_wrapper {
  text-align: center;
  .title_banner {
    font-size: 50px;
    line-height: 58px;
    margin-top: 0;
    margin-bottom: 10px;
    transition-delay: 0.5s;
  }
  .desc {
    font-size: 16px;
    color: var(--color-body);
  }
}
.slaider {
  padding: 80px 0;
}
.testimonial-wrapper {
  background: #f8f8f8;
  padding: 80px;
  margin: 0 30px;
  width: 100%;
  overflow: hidden;
  .content {
    display: block;
    max-width: 612px;
    border-radius: 15px;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .author {
    border-top: 1px var(--color-body) solid;
    padding-top: 20px;
    max-width: 612px;
    margin: 0 auto;
    .title {
      color: #111111;
      font-size: 24px;
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 0;
    }
    .sub-title {
      color: #dd5903;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 30px;
    }
    p {
      margin: 0 !important;
    }
  }
}
